<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <div class="container">
      <a class="navbar-brand" href="#">Logo</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
          </li>
        </ul>

      </div>
    </div>
  </nav>
</header>

<div class="container">
  <div class="intro-section">
    <h1>Đây là trang Home</h1>
    <p>Trang này hiển thị danh sách sản phẩm</p>
    <p>Bạn có thể chọn sản phẩm và mua hàng tại đây</p>
  </div>

  <div class="search-box">
    <input type="text" placeholder="Tìm kiếm sản phẩm" class="form-control">
    <select class="form-control">
      <option selected disabled>Danh mục sản phẩm</option>
      <option>Đồ điện tử</option>
      <option>Đồ gia dụng</option>
      <option>Bánh kẹo</option>
      <option>Hải sản</option>
    </select>
  </div>

  <div class="row">
    <div class="col-lg-4 col-md-6">
      <div class="product-item">
        <img
          src="https://images.pexels.com/photos/416160/pexels-photo-416160.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" />
        <h3>Mèo xinh tươi</h3>
        <p class="product-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
        <p class="product-warranty">Bảo hành: Vĩnh viễn</p>
        <p class="product-price">Giá: <del>$200</del> $100</p>
        <div class="product-rating">
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star-half-alt"></i>
        </div>

        <div class="actions">
          <button class="btn btn-primary">Thêm vào giỏ hàng</button>
          <button class="btn btn-success">Mua ngay</button>
        </div>
      </div>
    </div>
  </div>

</div>